Package: time-lapse
Version: 1.0.1
Section: custom
Priority: optional
Architecture: armhf
Essential: no
Installed-Size: 1024
Maintainer: Mark Dyer (heymarky@gmail.com)
Description: Add time lapse tools to Raspberry Pi
Depends: python3
