[Unit]
Description=Run the timelapse service.
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/timelapse/cam-app
ExecStart=/usr/local/bin/uwsgi --ini /opt/timelapse/uwsgi.ini

[Install]
WantedBy=multi-user.target